<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	layout:decorator="layout">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
	

		<div class="panel col-md-7">
			<div class="panel panel-danger">
				<div class="panel-heading">Sign in please</div>
				<div class="panel-body">
					<form th:action="@{/sign}" th:object="${user}" method="post">
					
					<div class="row">
							<div class="col-md-10 form-group">
								<label class="col-md-2 control-lable" for="id">Id:</label>
								<div class="col-md-10">
									<input type="text" id="id" name="id" th:field="*{id}"
										placeholder="enter student id" class="form-control">
								</div>


							</div>

						</div>
					
					
						<div class="row">
							<div class="col-md-10 form-group">
								<label class="col-md-2 control-lable" for="name">Name:</label>
								<div class="col-md-10">
									<input type="text" id="name" name="name" th:field="*{name}"
										placeholder="enter name" class="form-control">
								</div>


							</div>

						</div>

						<div class="row">
							<div class="col-md-10 form-group">
								<label class="col-md-2 control-lable" for="email">Email:</label>
								<div class="col-md-10">
									<input type="text" id="email" name="email" th:field="*{email}"
										placeholder="enter email" class="form-control">
								</div>


							</div>

						</div>
						
						<div class="row">
							<div class="col-md-10 form-group">
								<label class="col-md-2 control-lable" for="password">Password:</label>
								<div class="col-md-10">
									<input type="password" id="password" name="password" th:field="*{password}"
										placeholder="enter password" class="form-control">
								</div>


							</div>

						</div>
						<div class="row"> 
						<div class="form-actions col-md-2">
						<button type="button" class="btn btn-info"value="sign-in" data-toggle="modal" data-target="#exampleModal">
						Sign-in</button>
						</div>
						</div>

					</form>

				</div>

			</div>

		</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
     
      <div class="modal-body alert alert-danger" >
        User Register Successfully<br>
        
      </div>
       you can now login as user!!!!
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>





	</div>
</body>
</html>